doctype html
html(lang='en')
     head
          meta(charset='utf-8')
          meta(name="author", content="HB, itshally, Hally")
          title gitDog | About
          //- bootstrap css
          link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
          //- fontawesome
          script(src="https://kit.fontawesome.com/1bf8e81302.js")
          //- custom css
          link(rel="stylesheet", href="/views/style.css")
          
     body
          nav.navbar.navbar-expand-lg.navbar-light.bg-light
               a.navbar-brand gitDog <i class="fas fa-dog"></i>
               button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav" aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-icon
               .collapse.navbar-collapse#navbarNav
                    ul.navbar-nav
                         li.nav-item
                              a.nav-link(href="/") Home
                         li.nav-item
                              a.nav-link(href="/about") About
                         li.nav-item
                              a.nav-link(href="/gallery") Gallery

          .container-fluid.about-header-container 
               .row
                    .col-12.col-lg-6.align-self-center.about-text
                         h1 About Page
                         p 
                              | Vestibulum a mattis est. Nullam eget vulputate erat, a mollis dolor. 
                              | Duis ornare pharetra fermentum. Sed et orci sed leo fermentum fermentum. 
                              | Vestibulum quis elit et sapien varius interdum id ac sapien. Curabitur vitae 
                              | orci nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                              | Suspendisse potenti. Suspendisse eu metus velit. Fusce at posuere arcu. Suspendisse 
                              | in elit quis diam rhoncus tristique vel in augue. Integer laoreet fringilla vulputate. 
                              | Integer commodo luctus fringilla.
                    .col-12.col-lg-6.align-self-end
                         img#dog-0(src="/views/assets/images/dog-0.png", alt="")

          //- bootstrap js
          script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
          script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
          script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")

          //- jquery 
          script(src="https://code.jquery.com/jquery-3.4.1.min.js")

          //- custom js
          script
               include main.js