doctype html
html(lang='en')
     head
          meta(charset='utf-8')
          meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
          meta(name="author", content="HB, itshally, Hally")
          title gitDog | Gallery
          //- bootstrap css
          link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
          //- fontawesome
          script(src="https://kit.fontawesome.com/1bf8e81302.js")
          //- custom css
          link(rel="stylesheet", href="/views/style.css")
     body
          nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
               a.navbar-brand gitDog <i class="fas fa-dog"></i>
               button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav" aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-icon
               .collapse.navbar-collapse#navbarNav
                    ul.navbar-nav
                         li.nav-item
                              a.nav-link(href="/") Home
                         li.nav-item
                              a.nav-link(href="/about") About
                         li.nav-item
                              a.nav-link(href="/gallery") Gallery

          .container.dropdown-list
               h1 Search Dog Images by Breed
               select.form-control.form-control-lg
               button.btn.btn-primary(type='submit' id='submit-btn') Generate Random Photo
               .container.dog-images-container
                    .row
                         //- images of dogs will display below

          //- footer
          div.container-fluid.footer-container
               .container.footer-content
                    span &copy; 2019 Hally. All Rights Reserved.
                    
          //- bootstrap js
          script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
          script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
          script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")

          //- jquery 
          script(src="https://code.jquery.com/jquery-3.4.1.min.js")

          //- custom js
          script(src="/views/main.js")