doctype html
html(lang='en')
     head
          meta(charset='utf-8')
          meta(name="author", content="HB, itshally, Hally")
          title gitDog | Home
          //- bootstrap css
          link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
          //- fontawesome
          script(src="https://kit.fontawesome.com/1bf8e81302.js")
          //- custom css
          link(rel="stylesheet", href="/views/style.css")
     body

          //- navbar links
          nav.navbar.navbar-expand-lg.navbar-light.bg-light
               a.navbar-brand gitDog <i class="fas fa-dog"></i>
               button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav" aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-icon
               .collapse.navbar-collapse#navbarNav
                    ul.navbar-nav
                         li.nav-item
                              a.nav-link(href="/") Home
                         li.nav-item
                              a.nav-link(href="/about") About
                         li.nav-item
                              a.nav-link(href="/gallery") Gallery
             
          //- carousel
          div.container-fluid.carousel-container
               div.carousel-bg
               h1.h1 Welcome to gitDog <i class="fas fa-dog"></i>
                    
               div.carousel.slide#carouselIndicators(data-ride="carousel")
                    ol.carousel-indicators
                         li(data-target="carouselIndicators", data-slide-to="0").active
                         li(data-target="carouselIndicators", data-slide-to="1")
                         li(data-target="carouselIndicators", data-slide-to="2")
                    .carousel-inner
                         .carousel-item.active
                              img(src='/views/assets/images/img-0.jpg', alt='First Image')    
                         .carousel-item
                              img(src="/views/assets/images/img-1.jpg", alt="Second Slide")
                         .carousel-item
                              img(src="/views/assets/images/img-2.jpg", alt="Third Slide")
                    a.carousel-control-prev(href="#carouselIndicators", role="button", data-slide="prev")
                         span.carousel-control-prev-icon(aria-hidden="true")
                         span.sr-only Previous
                    a.carousel-control-next(href="#carouselIndicators", role="button", data-slide="next")
                         span.carousel-control-next-icon(aria-hidden="true")
                         span.sr-only Next
                    

               


          //- bootstrap js
          script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
          script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
          script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")

          //- jquery 
          script(src="https://code.jquery.com/jquery-3.4.1.min.js")

          //- custom js
          //- script
          //-      include main.js
          script(src="/views/main.js")