html, body{
     padding: 0;
     margin: 0;
     height: 100%;
     width: 100%;
}
/* Navbar */
.nav{
     position: relative;
     padding: 1rem;
     z-index: 1;
}
.navbar-nav{
     margin: auto 0 auto auto;
}
.navbar-collapse .nav-item{
     margin: 0 0.5rem;
}

/* ------------------ Home Page ------------------ */

/* Carousel */
.carousel-container{
     height: 95%;
     width: 100%;
     padding: 0;
     margin: 0; 
     overflow: hidden;
     position: relative;
     background-color: red;
     z-index: 1;
}
.carousel{
     height: 100%;
}
.carousel-bg{
     background-color: black;
     height: 100%;
     width: 100%;
     padding: 0;
     margin: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: inherit;
     opacity: 0.7;
}
.carousel-text{
     color: white;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 2;
     text-shadow: 1px 1px black;
     text-align: center;
}
.carousel-text p{
     font-size: 15pt;
}
.footer-container{
     padding: 0;
     margin: 0;
     position: relative;
     height: 5%;
}
.footer-content{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 3;
     text-align: center;
}
/* ------------------ About Page ------------------ */
/* About Header */
.about-header-container{
     position: relative;
     height: auto;
     width: 100%;
     background: #fbe4dc;
     padding: 0;
     margin: 0;
}
.about-header-container .row{
     margin: auto;
     height: 100%;
     width: 90%;
     position: relative;
}
.about-header-container .col-12,
.about-header-container .col-md-6,
.about-header-container .col-lg-6{
     position: relative;
}
.about-text{
     padding: 3.5rem 0;
}
#dog-0{
     position: relative;
     z-index: 3;
     right: -25%;
     bottom: 0;
}
.about-header-container .col-lg-6 #dog-0{
     height: 95%;
     width: 85%;
}

/* About Details */
.about-details{
     padding: 5rem 0;
     height: auto;
     margin: auto;
}
.about-details .row{
     margin: 0;
     padding: 0;
     position: relative;
}
.about-details .card{
     border-radius: 5px;
     height: 200px;
     position: relative;
     box-shadow: 0px 0px 10px -5px black;
     margin: 2.5rem auto 0 auto;
     width: 100%;
}
.about-details .card-title{
     font-size: 32pt;
     padding: 1.5rem;
     background-color: #eacdd0;
     border-radius: 50%;
     position: absolute;
     top: -22.5%;
     left: 50%;
     transform: translate(-50%, -22.5%);
     box-shadow: 0px 0px 10px -5px black;
}
.about-details .card-text{
     width: 90%;
     position: absolute;
     bottom: 50%;
     left: 50%;
     transform: translate(-50%, 50%);
}

/* Breeds Container */
.breeds-container{
     padding: 1rem;
     text-align: center;
}
.breeds-container .row{
     width: 90%;
     margin: auto;
}
.dog-breed{
     /* background-color: royalblue; */
     /* border-radius: 5px; */
     width: auto;
     text-transform: capitalize;
     /* border: 1px solid black; */
     position: relative;
}
.dropdown button{
     width: 100%;
     margin: 1rem;
}
.disabled-dropdown:focus{
     outline: none;
}
.disabled-dropdown::after{
     display: none;
}
/* ------------------ Gallery Page ------------------ */

.dog-images-container{
     background-color: white;
}
.dog-pics{
     height: 250px;
     width: 250px;
     object-fit: fill;
     object-position: center;
     position: relative;
     margin: auto;
     display: block;
}